<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- General Settings -->
    <category label="30000">
        <setting label="30001" default="false" id="snapshot_enabled" type="bool"/>
        <setting label="30002" default="10" id="image_quality" type="slider" range="10, 5, 100" option="int" enable="eq(-1,true)"/>
        <setting label="30003" default="5" id="image_resolution" type="enum" lvalues="30018|30017|30016|30015|30014" enable="eq(-2,true)"/>
        <setting label="30019" default="/media/CAMERA_DCIM/Snapshot" id="output_path" type="folder" enable="eq(-3,true)"/>
        <setting label="30004" default="false" id="log_enabled" type="bool" enable="eq(-4,true)"/>
        <setting label="30020" default="false" id="text_overlay_enabled" type="bool" enable="eq(-5,true)"/>
        <setting type="lsep" label="Overlay Settings" visible="eq(-1,true)"/>
        <setting label="30021" default="false" id="gps_text_overlay_enabled" type="bool" enable="eq(-7,true)" visible="eq(-2,true)"/>
        <setting type="sep"/>
        <setting label="30005" default="false" id="sms_commands_enabled" type="bool" enable="eq(-9,true)"/>
        <setting type="lsep" label="SMS Settings" visible="eq(-1,true)"/>
        <setting label="30006" default="ping-pong" id="sms_keyword" type="text" enable="eq(-11,true)" visible="eq(-2,true)"/>
        <setting type="sep"/>
        <setting label="30007" default="false" id="email_enabled" type="bool" enable="eq(-13,true)"/>
        <setting type="lsep" label="Email Settings" visible="eq(-1,true)"/>
        <setting label="30008" default="jason@bulis.co.uk" id="email_to" type="text" enable="eq(-15,true)" visible="eq(-2,true)"/>
        <setting label="30009" default="controlsystem@bulis.co.uk" id="email_from" type="text" enable="eq(-16,true)" visible="eq(-3,true)"/>
        <setting label="30010" default="auth.smtp.1and1.co.uk" id="smtp_server" type="text" enable="eq(-17,true)" visible="eq(-4,true)"/>
        <setting label="30011" default="25" id="smtp_server_port" type="text" enable="eq(-18,true)" visible="eq(-5,true)"/>
        <setting label="30012" default="controlsystem@bulis.co.uk" id="username" type="text" enable="eq(-19,true)" visible="eq(-6,true)"/>
        <setting label="30013" default="Bul15.CS" id="password" type="text" enable="eq(-20,true)" visible="eq(-7,true)" option="hidden"/>
        <setting type="sep"/>
    </category>
</settings>
